<div class="search-form">
    <form action="{% url 'filter' %}" method="GET">
        <div class="search-bar-group">
            <input id="search-bar" name="multisearch" type="text" value="{{multisearch}}" placeholder="query interrupts" />
            <input type="submit" value="search" id="search-button" />
        </div>

        <div class="context-check-group">
            <input name="full_context" type="checkbox" value="1" id="full_context" {% if full_context %} checked {% endif %} />
            <label for="full_context">show full interrupt content</label>
        </div>
    </form>
</div>

<br />

<a href="{% url 'index' %}#search-help">More information on search</a>