body {
    font-family: monospace;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}
table, td, th {
    text-align: left;
    border: 1px solid black;
}
td {
    min-width: 50px;
}

.tab {
    padding-right: 2em;
}

.content-main {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.about {
    margin-top: 20px;
}

.search {
    border: 1px solid black;
    padding: 10px;
}
.search-form > form {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.context-check-group {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}
.search-bar-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.search-bar-group > #search-button {
    width: 100px;
}
.search-bar-group > #search-bar {
    flex-grow: 10;
}